<h1>Signup!</h1>


<div>


    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
  <ul>
    <%= form_for :user, url: '/users' do |f| %>

      First Name: <%= f.text_field :first_name %> </br>
      Last Name: <%= f.text_field :last_name %> </br>
      Email: <%= f.text_field :email %> </br>
      Password: <%= f.password_field :password %> </br>
      Password Confirmation: <%= f.password_field :password_confirmation %> </br>
      <%= f.submit "Submit" %>
  </ul>
</div>

<% end %>