<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <div>
          <% if session[:user_id] %>
            <dl class="dl-horizontal">
            <dd>Write a review:</dd>
          <%= form_for(@review, :url => product_reviews_path(@product)) do |r| %>
            <dt>Description</dt>
            <dd>  <%= r.text_area :description %> </dd> <br>
            <dt> Rating out of 5 </dt>
            <dd> <%= r.select :rating, [1, 2, 3, 4, 5] %> </dd><br>

            <dd> <%= r.submit %> </dd>
          <%end%>
        <%end%>
          <dl>
            <dl class="dl-horizontal">
              <dt>Reviews</dt>

              <% @reviews.order(id: :desc).each do |review| %>
                <dd><%= "Rater: #{review.user.first_name} #{review.user.last_name}" %>
                  <br>
                <dd><%= "Date: #{review.created_at.strftime("%A %B %d, %Y")}" %>
                  <br>
                <dd><%= "Rating: #{review.rating}" %>
                  <br>
                  <%="Description: #{review.description}"%>
                </dd>
              <br>
            <%end%>
          </dl>
        </div>
      </div>


    </div>

  </article>

</section>
